#face{
    height: 380px;
    width: 380px;
    background-color: yellow;
    border-radius:50%;
    margin: auto;
    margin-top: 15%;
    box-shadow: 2px 6px 6px 6px black;
}
#eyes{
    display: flex;
    width: 380px;
    justify-content: space-evenly;
    padding-top:30% ;

}
#leye
{
    height: 20px;
    width: 40px;
    background-color: red;
     border-radius: 50%;
     border-bottom-right-radius: 80%;
     border-bottom-left-radius: 50%;
     border-top-left-radius: 70%;
     border-top-right-radius: 70%;
     margin-top: 20px;
   box-shadow: 4px 4px 4px 4px  black;
}
#reye
{
    height: 70px;
    width: 30px;
    background-color: red; 
    border-radius: 50%;
   box-shadow: 4px 4px 4px 4px black;
}
#mouth
{
    height: 25px;
    width: 120px;
    background-color:wheat ;
    margin: auto;
    margin-top: 60px;
    border: 5px solid black;
    box-shadow: 4px 4px 4px black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#tongue
{
    height: 60px;
    width: 30px;
    background-color: rgb(231, 9, 124);
    margin: auto;
    margin-top: 16px;
    box-shadow: 5px 5px 5px black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 50%;
}

body{
    background: linear-gradient(black,blue,white);
}